events {}

http {

    upstream backend {
        server 4sight-container:8000;
    }

    upstream cams_backend {
        server cams-container:8000;
    }

    server {
        listen 80;

        location /4sight/ {
            proxy_pass http://backend/;

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }

        location /cams/ {
            proxy_pass http://cams_backend/;

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}